@page "/counter"
@inherits CounterBase;

<h3>Counter</h3>

<p>Count: @Count</p>

<button class="btn btn-primary" @onclick="IncreaseCount">Increase</button>
<button class="btn btn-primary" @onclick="DecreaseCount">Decrease</button>
