@page "/"
@using FeatureManagement.Shared.Features;

<PageTitle>Index</PageTitle>

<h1>Welcome to Feature Management</h1>

<FeatureRender Name="@FeatureFlags.FeatureA">
    <p>Feature A is enabled</p>
</FeatureRender>

<FeatureRender Name=@($"Not {FeatureFlags.FeatureA}")>
    <p>Feature A is not enabled</p>
</FeatureRender>

<FeatureRender Name="@FeatureFlags.FeatureB">
    <p>Feature B is enabled</p>
</FeatureRender>

<FeatureRender Name=@($"Not {FeatureFlags.FeatureB}")>
    <p>Feature B is not enabled</p>
</FeatureRender>

<FeatureRender Name=@($"{FeatureFlags.FeatureA}, {FeatureFlags.FeatureB}")>
    <p>Feature A and Feature B is enabled</p>
</FeatureRender>

<FeatureRender Name=@($"Not {FeatureFlags.FeatureA}, {FeatureFlags.FeatureB}")>
    <p>Feature A is not enabled and Feature B is enabled</p>
</FeatureRender>

<FeatureRender Name=@($"!{FeatureFlags.FeatureA}, {FeatureFlags.FeatureB}")>
    <p>Feature A is not enabled and Feature B is enabled</p>
</FeatureRender>

<FeatureRender Name=@($"{FeatureFlags.FeatureA}, {FeatureFlags.FeatureB}") Requirement="Any">
    <p>Feature A or Feature B are enabled</p>
</FeatureRender>