@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Feature Management</h1>

<FeatureRender Name="FeatureA">
    <p>Feature A is enabled</p>
</FeatureRender>

<FeatureRender Name="Not FeatureA">
    <p>Feature A is not enabled</p>
</FeatureRender>

<FeatureRender Name="FeatureB">
    <p>Feature B is enabled</p>
</FeatureRender>

<FeatureRender Name="Not FeatureB">
    <p>Feature B is not enabled</p>
</FeatureRender>

<FeatureRender Name="FeatureA, FeatureB">
    <p>Feature A and Feature B is enabled</p>
</FeatureRender>

<FeatureRender Name="Not FeatureA, FeatureB">
    <p>Feature A is not enabled and Feature B is enabled</p>
</FeatureRender>

<FeatureRender Name="!FeatureA, FeatureB">
    <p>Feature A is not enabled and Feature B is enabled</p>
</FeatureRender>

<FeatureRender Name="FeatureA, FeatureB" Requirement="Any">
    <p>Feature A or Feature B are enabled</p>
</FeatureRender>